.imageCaption {
    position: relative;
    margin-bottom: .55rem;
    color: rgba(0, 0, 0, .68);
    outline: 0;
    text-align: center;
    font-size: .58rem;
    z-index: 300
}

@media (prefers-color-scheme: dark) {
    .imageCaption {
        color: #aaa;
    }
}